<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmu.pmarl.peedeehealthadvisor">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        android:theme=”@style/AppTheme.Launcher”

        // DECLARING THE ENTRANCE OF THE APP
        <activity android:name="com.fmu.pmarl.peedeehealthadvisor.MainActivity"
            android:screenOrientation="portrait"
            android:label="Health"
            android:theme="@style/AppTheme.Launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        // DECLARING THE ENTRANCE OF THE APP
        <activity android:name="com.fmu.pmarl.peedeehealthadvisor.SliderStart"
            android:screenOrientation="portrait"
            android:label="PD HC"
            >

        </activity>

        // DECLARING THE ENTER BLOOD PRESSURE DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterBloodPressureDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER BLOOD SUGAR DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterBloodSugarDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER CHOLESTEROL DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterCholesterolDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER VACCINATION DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterVaccinationDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


        // DECLARING THE GRAPH ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.GraphActivity"
            android:label="@string/app_name">
        </activity>

        // DECLARING THE MY HEALTH DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.MyHealthDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING THE SEARCH LOCATION ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SearchLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE SEARCH SERVICE ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SearchServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE SELECT DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE FIRST TIME LOGIN ACTIVITY
        <activity android:name="com.fmu.pmarl.peedeehealthadvisor.FirstTimeLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        // DECLARING THE SELECT DATA ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectBloodPressureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE BLOOD SUGAR ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectBloodSugarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE VACCINATION ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectVaccinationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING CHOLESTEROL ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectCholesterolActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING BLOOD PRESSURE GRAPH ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.BloodPressureGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING BLOOD SUGAR GRAPH ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.BloodSugarGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING VACCINATION GRAPH ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.VaccinationGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING CHOLESTEROL GRAPH ACTIVITY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.CholesterolGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING APP SWITCHER
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.AppSwitcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING APP CARDVIEW
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.CardView"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING REPORTS
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.ReportsActivity"
            android:label="@string/app_name"

            >
        </activity>

        // DECLARING ALLERGY INPUT
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterAllergyDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING ALLERGIES TABLE
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.AllergiesTable"
            android:label="@string/app_name"
            >
        </activity>

        // DECLARING ALLERGIES SELECT
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectAllergiesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING USER PROFILE
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING SELECT BODY WEIGHT
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectBodyWeightActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING WEIGHT GRAPH
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.BodyWeightGraph"
            android:label="@string/app_name">

        </activity>

        // DECLARING BODY WEIGHT ENTRY
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterBodyWeightDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING EDIT PROFILE
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EditUserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING SELECT MEDICATION
        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.SelectMedicationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.EnterMedicationDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        <receiver android:name="com.fmu.pmarl.peedeehealthadvisor.NotificationPublisher" />

        <activity
            android:name="com.fmu.pmarl.peedeehealthadvisor.MedicationTable"
            android:label="@string/app_name"

            >
        </activity>
        <activity android:name=".CardViewActivity" />

        <receiver android:name="com.fmu.pmarl.peedeehealthadvisor.NotificationPublisher" />


    </application>

</manifest>