<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pmarl.peedeehealthadvisor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        // DECLARING THE ENTRANCE OF THE APP
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Health"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        // DECLARING THE ENTRANCE OF THE APP
        <activity android:name=".SliderStart"
            android:screenOrientation="portrait"
            android:label="PD HC"
            >

        </activity>

        // DECLARING THE ENTER BLOOD PRESSURE DATA ACTIVITY
        <activity
            android:name=".EnterBloodPressureDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER BLOOD SUGAR DATA ACTIVITY
        <activity
            android:name=".EnterBloodSugarDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER CHOLESTEROL DATA ACTIVITY
        <activity
            android:name=".EnterCholesterolDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE ENTER VACCINATION DATA ACTIVITY
        <activity
            android:name=".EnterVaccinationDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


        // DECLARING THE GRAPH ACTIVITY
        <activity
            android:name=".GraphActivity"
            android:label="@string/app_name">
        </activity>

        // DECLARING THE MY HEALTH DATA ACTIVITY
        <activity
            android:name=".MyHealthDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING THE SEARCH LOCATION ACTIVITY
        <activity
            android:name=".SearchLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE SEARCH SERVICE ACTIVITY
        <activity
            android:name=".SearchServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE SELECT DATA ACTIVITY
        <activity
            android:name=".SelectDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE FIRST TIME LOGIN ACTIVITY
        <activity android:name=".FirstTimeLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        // DECLARING THE SELECT DATA ACTIVITY
        <activity
            android:name=".SelectBloodPressureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE BLOOD SUGAR ACTIVITY
        <activity
            android:name=".SelectBloodSugarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING THE VACCINATION ACTIVITY
        <activity
            android:name=".SelectVaccinationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING CHOLESTEROL ACTIVITY
        <activity
            android:name=".SelectCholesterolActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING BLOOD PRESSURE GRAPH ACTIVITY
        <activity
            android:name=".BloodPressureGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING BLOOD SUGAR GRAPH ACTIVITY
        <activity
            android:name=".BloodSugarGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING VACCINATION GRAPH ACTIVITY
        <activity
            android:name=".VaccinationGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING CHOLESTEROL GRAPH ACTIVITY
        <activity
            android:name=".CholesterolGraph"
            android:label="@string/app_name">
        </activity>

        // DECLARING APP SWITCHER
        <activity
            android:name=".AppSwitcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING APP CARDVIEW
        <activity
            android:name=".CardView"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        // DECLARING REPORTS
        <activity
            android:name=".ReportsActivity"
            android:label="@string/app_name"

            >
        </activity>

        // DECLARING ALLERGY INPUT
        <activity
            android:name=".EnterAllergyDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING ALLERGIES TABLE
        <activity
            android:name=".AllergiesTable"
            android:label="@string/app_name"
            >
        </activity>

        // DECLARING ALLERGIES SELECT
        <activity
            android:name=".SelectAllergiesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING USER PROFILE
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        // DECLARING SELECT BODY WEIGHT
        <activity
            android:name=".SelectBodyWeightActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING WEIGHT GRAPH
        <activity
            android:name=".BodyWeightGraph"
            android:label="@string/app_name">

        </activity>

        // DECLARING BODY WEIGHT ENTRY
        <activity
            android:name=".EnterBodyWeightDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        // DECLARING EDIT PROFILE
        <activity
            android:name=".EditUserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>

        <receiver android:name=".NotificationPublisher" />
    </application>

</manifest>